body {
	font-family: 'Oswald', sans-serif;
	font-size: 14pt;
	color: #eeeeee;
	background-color: #333333;
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}

.background{
	width:100%;
	height: 500%;
	position: fixed;
	background-image: url('img/background.png');
	top: 0;
	left: 0;
	z-index: -1;
	-webkit-transition: top 250ms ease-out;
	-moz-transition: top 250ms ease-out;
	-o-transition: top 250ms ease-out;
	transition: top 250ms ease-out;
}

.top-bar {
	text-align: center;
	background-color: #090909;
	padding: 10px;
}

.contact-item-img {
	height: 30px;
	width: 30px;
	margin: 0px 10px;
	border-radius: 15px;
	-webkit-transition: background-color 250ms ease-out;
	-moz-transition: background-color 250ms ease-out;
	-o-transition: background-color 250ms ease-out;
	transition: background-color 250ms ease-out;
}

.contact-item-img:hover {
	background-color: #aa33aa;
}

.content {
	width: 66%;
	margin: 0px auto;
}

.header {
	padding: 10px;
	text-align: center;
	width: 600px;
	margin: 0px auto;
}

.header-title {
	margin-top: 120px;
	margin-bottom: 40px;
}

.header-title-img {
}

.header-description {
	text-transform: uppercase;
	font-size: 32px;
}

.buy-area {

}

.buy-button {
	height: 60px;
	margin: 60px 30px;
}

.game-nav-bar {
	padding: 20px;
}

.game-nav-bar-item {
	margin: 0px 25px;
	text-transform: uppercase;
	font-size: 14pt;
	color: #eeeeee;
	-webkit-transition: color 300ms ease-in-out;
	-moz-transition: color 300ms ease-in-out;
	-o-transition: color 300ms ease-in-out;
	transition: color 300ms ease-in-out;
}

.game-nav-bar-item:hover {
	color: #aa33aa;
}

.info {
	width: 800px;
	margin: 40px auto;
	text-align: center;
}

.features {
	padding: 50px;
}

.feature-item {
	width: 260px;
	margin: 40px;
	float:left;
}

.feature-title {
	text-transform: uppercase;
	font-size: 24pt;
}

.screenshots {
	width: 640px;
	margin: 40px auto;
	text-align: center;
}


.screenshot-item {
	width: 600px;
	margin: 20px;
	background-color: #cccccc;
}

.footer {
	width: 100%;
	text-align: center;
	background-color: #090909;
}

.subscribe-area {
	padding: 30px;
}

.subscribe-desc {
	padding: 10px;
	font-size: 16pt;
	text-transform: uppercase;
}

.subscribe-sign-up {
	padding: 10px;
}

.subscribe-input {
	padding: 7px;
	margin-right: 10px;
	border: 0px solid #cccccc;
	font-family: 'Oswald', sans-serif;
	font-size: 12pt;
	color: #cccccc;
	background-color: black;
	border-radius: 6px;
}

.subscribe-button {
	padding: 7px 10px;
	border: 0px solid #cccccc;
	font-family: 'Oswald', sans-serif;
	font-size: 12pt;
	color: #eeeeee;
	background-color: #992299;;
	text-transform: uppercase;
	border-radius: 6px;
}

.subscribe-button:hover {
	background-color: #aa33aa;;
}

.contact-area {
	padding: 20px;
}

.logo
{
	padding: 10px;
}

.logo-text {
	font-family: 'Amatic SC', cursive;
	font-size: 26pt;
	color: #eeeeee;
	text-transform: uppercase;
	-webkit-transition: color 300ms ease-in-out;
	-moz-transition: color 300ms ease-in-out;
	-o-transition: color 300ms ease-in-out;
	transition: color 300ms ease-in-out;
}

.logo-text:hover {
	color: #aa33aa;
}